@charset "utf-8";
body {
    background-color: #f2f2f2 !important;
}

a, a:hover, a:focus, a:active {text-decoration: none !important;}

ul {padding:0;}
li {list-style-type: none;}
input { outline: none; }

.cc-top {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: #FFF;
	line-height: 60px;
	padding: 0 20px;
	z-index: 999;
}

.cc-top .t-list {margin-left: 220px;}

.cc-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	background-color: #333;
	color: #FFF;
	z-index: 1000;
	overflow-y: scroll;
}

.cc-menu .m-logo {height: 60px;}

.cc-menu .m-list {}

.cc-menu .m-list .m-items {padding:10px 0;}

.cc-menu .m-list .m-items > a {
	display: block;
	color: #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.6rem;
	position: relative;
}

.cc-menu .m-list .m-items > ul {display: none;}
.cc-menu .m-list .m-on {background-color: #151515;}
.cc-menu .m-list .m-on > ul {display: block;}

.cc-menu .m-list .m-items > a .m-icon {
	position: absolute;
	right: 10px;
	font-size: 1.1rem;
}

.cc-menu .m-list .m-sel-item {
	background-color: #013a4b;
    border-left: 4px solid #00b1e6;
}

.cc-main {
	position: absolute;
	top: 60px;
	left: 220px;
	width: calc(100% - 220px);
	height: calc(100% - 60px);
	padding: 20px;
}

.cc-main .m-list {
	background-color: #FFF;
	height: 100%;
	padding: 20px;
	overflow-y: scroll;
}
